.mainhead{
    margin-left: 450px;
    margin-top: 80px;
    margin-bottom: 60px;
}
.mainbutton{
    margin-left: 650px;
    margin-top: 80px;

}
.cover-img-1, .cover-img-2, .cover-img-3{
    width: 100%;
  filter: brightness(30%);

}
.cover-img-3{
    height: 100vh;
}
.accordion-style{
        text-align: center;
        width: 872px;
        height: 710px;
        margin-left: 300px;
        
}